*.pyc
*#
log.txt
deca_gui.pex
__PYCACHE__/
deca.egg-info/
test/
tools/
work/
venv36/
.idea/
dist/
build/
resources/gzb/scratch/
resources/gzb/procmon_csv/
resources/hp/scratch/
resources/hp/procmon_csv/
resources/adf/
process_image.*
deca/process_image_python.c*
deca/process_image_python.html
